* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  scroll-snap-align: start;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.container img {
    height: 25vh;
}